# Python bytecode
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

# VSCode
.vscode/

# PyCharm
.idea/

# OS 파일
.DS_Store
Thumbs.db

# Logs
*.log

# Uvicorn/Temp
*.pid

# Docker
*.tar
